.bottomSheet-container {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 40px;
  
}

[data-rsbs-overlay] {
  width: 75%;
  min-width: 70vw;
  max-width: 100%;
  margin: 0 auto !important;
}
